<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<% if params[:like] %>
  @post.increase_likes
<% end %>
<%= link_to @post.blogger.name, blogger_path(@post.blogger) %><br>
<%= link_to @post.destination.name, destination_path(@post.destination) %><br>
<p>Likes: <%= @post.likes %></p>
<%= button_to "Like", post_path(@post), method: :patch, params: { :post => {:likes => (@post.likes + 1) } }%>